<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day 1 of Angualar</title>
</head>
<body>
<div class="info">
    <h2>{{user.name}}</h2>
    <h2>{{user.title}}</h2>
    <h2>{{user.bio}}</h2>
    <h2>{{user.location}}</h2>
    <h2>{{user.email}}</h2>
</div>

<div class="social-links">
    <h2>{{user.social.github}}</h2>
    <h2>{{user.social.linkedin}}</h2>
    <h2>{{user.social.twitter}}</h2>
</div>
</body>
</html>