<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day 1 of Angualar</title>
</head>
<body>
    <!-- <h1>Hi, Day 01</h1>
    <div class="profile-card">
  <div class="avatar">
    <img [src]="user.avatar" [alt]="user.name">
  </div>
  <div class="info">
    <h2>{{ user.name }}</h2>
    <p class="title">{{ user.title }}</p>
    <p class="bio">{{ user.bio }}</p>
    <p class="location">📍 {{ user.location }}</p>
    <p class="email">📧 {{ user.email }}</p>
  </div>
  <div class="social-links">
    <a [href]="user.social.github" target="_blank">GitHub</a>
    <a [href]="user.social.linkedin" target="_blank">LinkedIn</a>
    <a [href]="user.social.twitter" target="_blank">Twitter</a>
  </div>
</div> -->
</body>
</html>